<!doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Rockwellist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />

</head>

<body>
    <div>

        <img class="py-10" src="/images/logo@4x.png" alt="" style="width: 45vh;">

        <div class="welcome-header [ py-2 ]">Welcome to the Rockwellist App!</div> 
        <div class="welcome-header [ pb-8 ]">Here are all the features you can enjoy on The Rockwellist app.</div> 

        <div class="feature-header gray-color"><strong>WATCH</strong></div>
        <div class="description [ py-4 ] ">Check out the latest movies and blockbusters showing in the Cinemas.</div>

        <div class="feature-header gray-color"><strong>SHOP</strong></div>
        <div class="description [ py-4 ] ">Get your shop on! Use our Store Directory to help you with your shopping needs.</div>

        <div class="feature-header gray-color"><strong>DINE</strong></div>
        <div class="description [ py-4 ] ">Use our Rockwell E-GC for a whole new dining experience at The Grid.</div>

        <div class="feature-header gray-color"><strong>DO</strong></div>
        <div class="description [ py-4 pb-8 ]">See what's up and about in your neighborhood mall at the Rockwell Center.</div>

        <div class="description [ pb-8 ] ">Now let's get started! Open The Rockwellist app and have a more delightful experience at the Power Plant Mall.</div>
    </div>
</body>
</html>